$app-background: rgba(255,255,255, 0.7);
$nav-background: #42378f;
$nav-gradient: linear-gradient(315deg, #42378f 0%, #d33842 74%);

$black: black;

$dark-blue: rgba( 12, 67,134,1);
$darkest-blue:  rgba(  1, 32, 45,1);

$darkest-purple: rgb(78, 33, 116);
$light-purple: rgb(94, 22, 175);

$pale-red: rgb(192, 115, 115);
$red:  rgb(143, 8, 8);

$white: white;