@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poiret+One&family=Special+Elite&family=Merriweather&display=swap");

@mixin flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes container-opacity {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1; 
   
  }
}

@keyframes top-transition {
  from {
    opacity: 0;
    transform: translate(-25px, 34px);
  }
  to {
    opacity: 1;
    transform: translate(-30px, 39px);
  }
}

$app-background: rgba(255,255,255, 0.7);
$nav-background: #42378f;
$nav-gradient: linear-gradient(315deg, #42378f 0%, #d33842 74%);

$dark-blue: rgba( 12, 67,134,1);
$darkest-blue:  rgba(  1, 32, 45,1);
$pale-red: rgb(192, 115, 115);
$red:  rgb(197, 14, 24);
$pink: rgb(224, 57, 121);
$dark-pink: rgb(75, 12, 36);
$light-purple: rgb(94, 22, 175);
$dark-purple: rgb(78, 33, 116);
$white: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
p,
h1,
h2,
h3 {
  text-align: center;
}

p {
  font-family: "Poiret One", cursive;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 25px;
}

h1 {
  font-family: "Special Elite", cursive;
  font-size: 2.5rem;
}

h2,
h3 {
  font-family: "Fredericka the Great", cursive;
  font-size: 2.5rem;
}

button,
span {
  font-family: "Merriweather", serif;
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: initial;
}

#__next {
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1546521343-4eb2c01aa44b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80'); 
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nav-container {
  @include flex-centering;
  background: $nav-gradient;
  min-height: 55px;

  .main-title {
    padding: 0.4rem 0 0.1rem;
    
    a {
      color: $white;
    }
  }
  .lang-select {
    @include flex-centering;
    position: fixed;
    right: 3px;
    top: 45px;

    @media (min-width: 768px) {
      right: 45px;
    }
    @media (min-width: 992px) {
      right: 90px;
    }


    img {
      border: 2px outset $pink;
      border-radius: 50%;
      background: $white;
      width: 85%;
    }

    &:hover {
      cursor: pointer;
    }

    .lang-container {
      display: none;
      position: absolute;
      top: 20px;
      right: -25px;

      button {
        border: 1px solid $red;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px $dark-pink;
        background: $white;
        color: $pink;
        padding: 0.5rem;
        margin: 0.2rem 0.2rem;
        min-width: 85.2333px;
      }

      &.open {
        @include flex-centering;
        flex-direction: column;
        animation: top-transition ease-in-out forwards 0.5s;

        @media (min-width: 768px) {
          flex-direction: row;
        }
      }
    }
  }
}

.menu-container {
  display: none;
}

.main-container {
  height: 910px;
}

.main-content {
  @include flex-centering;
  background: rgba(255,255,255, 0.7);
  flex-direction: column;
  justify-content: space-evenly;
  color: $light-purple;
  min-height: 100%;
  overflow: hidden;

  &.form-content {
    justify-content: center;
  }

  .presentation {
    width: 80%;

    p {
      margin-bottom: 5px;

      &:before {
        content: '# '
      }
    }

    .presentation-title {
      margin-bottom: 10px;
    }
    &.lang-change {
      animation: container-opacity linear 1.2s;
    }
  }

  img {
    border: 1px solid $red;
    border-radius: 50%;

    &.lang-change {
      animation: container-opacity linear 1.2s;
    }
  }
}

.intro {
  max-width: 600px;

  p {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.5px;

    &:first-of-type {
      margin-bottom: 15px;
    }
  }

  a {
    @include flex-centering;
    color: $white;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    border-radius: 8px;
    font-family: cursive;
    font-size: 1.4rem;
    height: 60px;
    width: 60px;
    margin: 1.5em auto 1em;
    padding: 1.2rem 4rem;
  }

  &.lang-change {
    animation: container-opacity linear 1.2s;
  }
}

.form-container {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  min-height: 600px;
  margin: 25px auto 0;

  button {
    @include flex-centering;
    display: block;
    color: $white;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    border-radius: 8px;
    border: none;
    font-family: cursive;
    font-size: 1.4rem;
    margin: 1.1em auto 1em;
    padding: 1rem 80px;
    min-width: 225px;

    &.remove-btn {
      padding: 0;
      min-width: 20px;
      height: 20px;
      margin: 0;

     &::after {
       content: 'x';
       position: relative;
       top: -9px;
     }
    }
  }

  section {
    border-radius: 5px;
    display: inherit;
    flex-direction: inherit;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background: $white;

    label
    {
      color: $light-purple;
      background: $white;
      padding: 0.15rem;
      text-align: center;
      font-family: "Poiret One", cursive;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 25px;
    }

    input {
      height: 34px;
      margin-top: 5px;
      width: 230px;

      @media (min-width: 576px) {
        min-width: 30vw;
      }
    }

    textarea {
      margin-top: 5px;
      width: 230px;
      height: 250px;

      @media (min-width: 576px) {
        min-width: 30vw;
      }
    }

    input:not([type=file]),
    textarea {
      font-family: "Poiret One", cursive;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 25px;
      border: 1px solid $dark-purple;
      border-radius: 5px;
    }

    input[type=file] {
      display: none;
    }

    &.file-section {
      margin-top: 25px;
      border: 2px solid $light-purple;
      min-width: 225px;
      padding: 0;

      label {
        @include flex-centering();
        height: 58px;
        width: 100%;
        padding: 0;
      }

      :hover {
        cursor: pointer;
      }

    }
  }
}

.file-list-container {
  max-height: 80px;
  overflow-y: scroll;

}

.ul-file-wrapper {
  display: flex;
  justify-content: flex-end;
  background: $white;
  padding: 0.4rem 0.6rem;
   
  p {
    font-size: 1.2rem;
    margin-right: 8px;
  }

  li {
    list-style: none;
  }
}

.contact-form {
  &.lang-change {
    animation: container-opacity linear 1.2s;
  }
}



